/* ACH.css */
.achievements-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  @media screen and (max-width: 768px) {
    .achievements-container {
      grid-template-columns: 1fr;
    }
  }
  
  .achievement {
    background-color: #000;
    padding: 20px;
    position: relative;
    max-width: 400px;
  }
  
  .achievement-image {
    width: 100%;
    max-width: 150px;
  }
  
  .achievement-details {
    padding-left: 10px;
  }
  
  .achievement-title {
    font-weight: bold;
    margin: 0 0 5px;
    color: #a0ddff;
  }
  
  .achievement-description {
    margin: 0;
    color: #a0ddff;
  }
  
  .duplicate-indicator {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #a0dfff;
    color: black;
    padding: 2px 5px;
    border-radius: 50%;
  }
  
