section{
  min-height:90vh;
  padding:10rem 3%;
  background-color:#000;
}

.home {
  display:flex;
  justify-content: left;
  align-items:center;
  overflow:hidden;
}


:root {
  --bg-color: #000;
  --typewriterSpeed: 5s;
  --typewriterCharacters: 55;
  --main-color: #2327233;
  --second-color: #A0DDFF;
}

.typing-animation {
  font-size: 25px;
  letter-spacing: 1px;
  position: relative;
  font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
  position: relative;
  width: max-content;
  color: rgb(185, 185, 185);
  margin-top:-180px;
}

.typing-animation::before,
.typing-animation::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.typing-animation::before {
  background: var(--bg-color);
  animation: typewriter var(--typewriterSpeed)
    steps(var(--typewriterCharacters)) 1s forwards;
}

.typing-animation::after {
  width: 0.125em;
  background: white;
  animation: typewriter var(--typewriterSpeed)
      steps(var(--typewriterCharacters)) 1s forwards,
    blink 750ms steps(var(--typewriterCharacters)) infinite;
}


@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

.home-img .mypic{
  width:60vw;
  height:auto;
  margin-left:-200px;
  margin-top: -200px;
}

.home-content h3{
  font-size: 6.0rem;
  font-weight:700;
  color: white;
  font-family: elevon,sans-serif;
  position:relative;
  margin-bottom:200px;
}

.home-content .monkey{
  color: #A0DDFF;
  font-size:30px;
  font-weight:100;
  margin-bottom:10px;
}

.home-content span{
  color:#A0DDFF;
  font-size:6.2rem;
  font-weight:2000;
  margin-bottom:200px;
}

.social-media a{
  display:inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background:transparent;
  border: .2rem solid #A0DDFF;
  border-radius: 50%;
  font-size: 2rem;
  color:#A0DDFF;
  margin: 3rem 1.5rem 2rem 1rem;
  transition: .5s ease;
}

.social-media a:hover{
  background: #A0DDFF;
  color:#140152;
  box-shadow: 0 0 1rem var(--bg-color);

}

.social-media{
  max-height:300px;
}